.chat-no-border {
  /* border-top: 1px solid rgba(0, 0, 0, 0); */
  border-top: none;
  padding-top: 20px;
}

.chat-span {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 14px;
}

.chat-number {
  position: static;
  align-self: flex-end;
}

.chat-time {
  margin: 15px 0px 5px 0px;
}
