#chat-screen {
  background-color: blanchedalmond;
  height: max-content;
  /* margin-bottom: 20px; */
  padding-bottom: 50px;
}

.main-chat {
  margin-top: 81px;
  padding: 12px 0px;
  color: var(--grey-font);
  /* background-color: olive; */
}

.chat__timestamp {
  background-color: rgb(232, 242, 146);
  text-align: center;
  border: var(--main-border);
  width: 180px;
  border-radius: 10px;
  padding: 4px;
  margin: auto;
}

.message-row {
  display: flex;
  /* background-color: aquamarine; */
  padding: 10px 0px;
  align-items: flex-end;
  animation: showing 0.5s ease-in-out forwards;
  opacity: 0;
}
.main-chat .message-row:nth-child(2) {
  animation-delay: 0.4s;
}
.main-chat .message-row:nth-child(3) {
  animation-delay: 0.8s;
}
.main-chat .message-row:nth-child(4) {
  animation-delay: 1.2s;
}

.main-chat .message-row:nth-child(5) {
  animation-delay: 1.6s;
}

.main-chat .message-row:nth-child(6) {
  animation-delay: 2s;
}

.main-chat .message-row:nth-child(7) {
  animation-delay: 2.4s;
}
.main-chat .message-row:nth-child(8) {
  animation-delay: 2.8s;
}
.main-chat .message-row:nth-child(9) {
  animation-delay: 3.2s;
}
.main-chat .message-row:nth-child(10) {
  animation-delay: 3.6s;
}
.main-chat .message-row:nth-child(11) {
  animation-delay: 4s;
}
.main-chat .message-row:nth-child(12) {
  animation-delay: 4.4s;
}
.main-chat .message-row:nth-child(13) {
  animation-delay: 4.8s;
}
@keyframes showing {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.message-row img {
  width: 42px;
  height: 42px;
  border-radius: 35%;
}

.message-row__content {
  /* background-color: yellowgreen; */
  padding: 0px 4px;
  margin: 0px 2px;
  border-radius: 20%;
}
.message__author {
  display: block;
  /* background-color: aqua; */
  margin-bottom: 4px;
  font-size: 13px;
}
.message__info {
  /* background-color: brown; */
  display: flex;
  align-items: flex-end;
}

.message__bubble {
  background-color: beige;
  padding: 5px 10px;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  font-size: 15px;
}

.message__time {
  margin: 0px 5px;
  font-size: 13px;
}

.message-row--own {
  justify-content: flex-end;
  /* background-color: blue; */
  /* margin-bottom: -17px; */
}

.message-row--own .message__info {
  display: flex;
  flex-direction: row-reverse;
}

.message-row--own .message__bubble {
  display: flex;
  flex-direction: row-reverse;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 0px;
}

.second-row {
  display: none;
}

.reply {
  position: fixed;
  display: flex;
  bottom: 0px;
  width: 100%;
  background-color: var(--nav-color);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 1;
  max-width: var(--app-width);
  height: 55px;
}

.reply__column {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.reply__column .fa-plus-square,
.reply__column .fa-smile-wink {
  margin: 10px;
}

.reply__column input {
  border: none;
  height: 25px;
  width: 320px;
  border-radius: 10px;
}

.reply__column button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  background-color: beige;
  border: none;
  border-radius: 10px;
}
