.open-post__members img {
  width: 30px;
  height: 30px;
}

.open-post__photo img {
  width: 30px;
  height: 30px;
}

.find-screen {
  /* padding-top: 81px; */
  /* padding: 95px 15pxx/ 39px 15px; */
  /* color: var(--grey-font); */
}
