#friends-display-link {
  display: block;
  margin-top: 91px;
  padding: 12px var(--body-side-padding);
  text-align: center;
  background-color: var(--nav-color);
}

#friends-display-link i {
  color: var(--btn-green);
}
