.more-screen {
  /* background-color: blue; */
  margin-top: 81px;
  margin-bottom: 24px;
}

.more-icon {
  margin-top: -23px;
}

.more-icon .icon-row__icon {
  padding-top: 23px;
  /* background-color: yellow; */
  padding-bottom: -10px;
  border: 0;
}
.more-icon .icon-row__icon span {
  /* background-color: green; */
  padding-top: 13px;
  padding-bottom: 0px;
  height: 30px;
}

.more-icon .icon-row__icon:nth-child(2) span {
  /* background-color: green; */
  padding-top: 13px;
  padding-bottom: 0px;
}

.more-icon .icon-row__icon i {
  font-size: 27px;
}
.more-icon .icon-row__icon span {
  font-size: 14px;
}

.more__wallet {
  background-color: yellow;
  margin-left: -15px;
  margin-right: -15px;
}

.more__wallet-title {
  display: flex;
  justify-content: space-between;
  background-color: red;
  padding: 20px 35px;
}

.more__wallet-title .more__wallet-head h3 {
  display: inline;
  font-size: 20px;
  font-weight: 500;
}

.more__wallet-title .more__wallet-certificate span {
  font-size: 15px;
  font-weight: 450;
}

.more__notice {
  margin: 0px 25px;
  padding: 10px;
  background-color: lightcoral;
  border-radius: 4px;
  position: relative;
  height: 18px;
}
.more__notice-vaccine {
  /* display: none; */
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.more__notice-id {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 95%;
  /* display: none; */
}

.more__notice-vaccine-column:first-child {
  background-color: orange;
  /* width: 80%; */
}

.more__notice-vaccine-column:nth-child(2) {
  background-color: green;
}

.more__pay {
  background-color: sandybrown;
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.more__pay-column {
  /* background-color: aquamarine; */
  font-size: 16px;
  font-weight: 600;
}

.more__menu {
  display: flex;
  justify-content: space-between;
  background-color: olivedrab;
  padding: 10px 35px;
  font-size: 14px;
}

.more__menu-column {
  display: flex;
}

.more__menu-column .divider {
  display: block;
  width: 1px;
  height: 14px;
  background-color: red;
  margin: 0px 10px;
}
