.icon-row {
  margin-top: 81px;
  background-color: aquamarine;
  display: flex;
  justify-content: space-around;
  padding: 13px 0px;
}

.icon-row__icon {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 25%;
}

.icon-row__icon i {
  background-color: black;
  font-size: 30px;
}

.icon-row__icon span {
  /* padding: 10px 0px; */
  background-color: yellow;
  font-size: 16px;
  margin-top: 11px;
  height: 40px;
  text-align: center;
}
