.icon-row {
  margin-top: 81px;
  /* background-color: aquamarine; */
  display: flex;
  justify-content: space-between;
  padding: 25px 0px 2px 0px;
  border-bottom: var(--main-border);
}

.icon-row__icon {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 25%;
}

.icon-row__icon i {
  /* background-color: black; */
  font-size: 32px;
}

.icon-row__icon div {
  background-color: yellow;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.icon-row__icon span {
  /* background-color: orange; */
  font-size: 16px;
  height: 40px;
  text-align: center;
  /* width: 90px; */
}

.icon-row__icon:first-child span {
  padding-top: 25px;
  padding-bottom: 3px;
}

.icon-row__icon:nth-child(2) span {
  padding-top: 18px;
  padding-bottom: 10px;
}

.icon-row__icon:nth-child(3) span {
  padding-top: 25px;
  padding-bottom: 3px;
}

.icon-row__icon:last-child span {
  padding-top: 25px;
  padding-bottom: 3px;
}
