.welcome-header {
  margin-top: 74px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-header__title {
  font-size: 23px;
  margin: 24px 0px;
  background-color: blue;
}

.welcome-header__text {
  margin-top: 1px;
  margin-bottom: 100px;
  text-align: center;
  font-size: 17px;
  background-color: red;
}
