.status-bar {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-bottom: 10px; */
  font-size: 16px;
  z-index: 5;
  position: fixed;
  width: 100%;
  top: 0;
  box-sizing: border-box;
  padding: 5px 15px;
  background-color: var(--green);
  max-width: 431px;
}

.status-bar__column:first-child {
  /* background-color: orange; */
  /* padding-left: 18px; */
  display: flex;
}

.status-bar__column-time {
  font-weight: 600;
}

.status-bar__gps {
  position: relative;
}

.status-bar__column-dot {
  position: absolute;
  background-color: rgb(35, 109, 212);
  width: 17px;
  height: 17px;
  border-radius: 50%;
  top: 0px;
  right: -19px;
  padding: 0px;
}
.status-bar__column-arrow {
  position: absolute;
  top: 4px;
  right: -14px;
  font-size: 10px;
  color: white;
}

.status-bar__column:last-child {
  /* background-color: violet; */
  padding-right: 0px;
}
